<div class="col">
  <h3>Available Teams</h3>
  <div class="d-flex align-content-start flex-wrap">
    {{#each allTeams}}
      {{#unless this.dataValues.UserId}}
        <div class="{{this.dataValues.abbr}} p-2 flex-fill">{{this.dataValues.location}} {{this.dataValues.name}}
          ({{this.dataValues.wins}}-{{this.dataValues.losses}}-{{this.dataValues.ties}})</div>
      {{/unless}}
    {{/each}}
  </div>
</div>